
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Allow read/write access to the 'prayers' collection only for the specified admin email
    match /prayers/{prayerId} {
      allow read, write: if request.auth != null && request.auth.token.email == "mouaadidoufkir2@gmail.com";
    }

    // Optionally, deny all other access by default if needed
    // match /{document=**} {
    //   allow read, write: if false;
    // }
  }
}
